@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.projectPage {
  width: 100%;
  min-height: 800px;
  background-color: #161618;
  color: #f3f1f2;
  padding-top: 76px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectPage .mediaContent {
  margin: 16px;
  width: 720px;
  max-width: 80%;
}

.projectPage .content {
  width: 820px;
  max-width: 90%;
  margin: 16px;
}

.projectPage .header {
  font-family: Chakra Petch;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.projectPage .header h1{
  margin: 0px;
}

.projectPage .content .body {
  margin: 16px;
  text-align: justify;
  font-size: 16px;
  font-family: Open Sans;
}

.projectPage .content .body-link {
  color: #f3f1f2;
}

.projectPage .tech {
  border-top: 1px solid #262626;
  width: 1200px;
  max-width: 80%;
  font-family: Chakra Petch;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 16px;
  margin-top: 0px;
}

.projectPage .tech-header {
  margin: 16px;
  margin-top: 32px;
}

.projectPage .tech-content{
  justify-content: space-around;
}

.projectPage .tech-images {
  padding-top: 16px;
  transform: scale(0.8);
  overflow: visible;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px, auto) );
  row-gap: 32px;
}

.projectPage .tech-images a {
  
  border-radius: 16px;
  padding-top: 42px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.1s;
}

.projectPage .tech-images a:hover {
  background: #262626;
  border-radius: 16px;
  transition: 0.1s;
}

.projectPage .links {
  border-top: 1px solid #262626;
  margin: 16px;
  margin-top: 0px;
  width: 1200px;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectPage .links-header {
  font-family: Chakra Petch;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 16px;
  margin-top: 32px;
}

.projectPage .links-body {  
  font-size: 24px;
  text-align: center;
}

.projectPage .project-link {
  font-family: Chakra Petch;
  margin: 8px;
}

.projectPage .project-link a{
  color: #f3f1f2;
}
